.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #333;
    text-align: center;
}

.item1{
    font-size: 14px;
    padding: 10px;
    margin: 20px;
    color: white;
    border-radius: 5px;
}

.item1:hover{
    background-color: #bdbbbb;
}

#dropdown:hover{

}

.dropdown-content{
    position: relative;
    display: inline-block;
}